<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" th:href="@{./css/normalize.css}">
    <link rel="stylesheet" th:href="@{./css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">[[${pageTitle}]]</h2>
            <form th:action="@{/employees/save}" method="post" th:object="${employee}"
                style="max-width: 500px; margin: 0 auto;">
                <input type="hidden" th:field="*{id}">
                <div class="border border-secondary rounded p-3">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{name}" class="form-control" required minlength="2" maxlength="45">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Phone Number</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{phoneNumber}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{address}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Department</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{department}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Role</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{role}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Gender</label>
                        <div class="col-sm-8">
                            <input type="checkbox" th:field="*{gender}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Base Salary</label>
                        <div class="col-sm-8">
                            <input type="number" th:field="*{baseSalary}" class="form-control">
                        </div>
                    </div>

<!--                    <div class="form-group row">-->
<!--                        <label class="col-sm-4 col-form-label">Hire Date</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <input type="date" th:field="*{hireDate}" class="form-control">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary m-2">Save</button>
                        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{/employees}]]"
    }
</script>
</body>
</html>